.navbar{
	width: 100vw;
	background-color: black;
	opacity: .95;
	box-shadow: 0 0 5px black;
	position: fixed;
	top: 0;
	z-index: 2;
}
.navbar-nav{
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
}
.navbar a{
	margin: 12px;
	color: white;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.navbar a:hover{
	text-decoration: none;
	opacity: .8;
}
.active{
	color: red;
}

@media only screen and (max-width: 600px) {
	.navbar{ height: 64px; }
	.navbar-nav{ justify-content: center; }
	a{ font-size: 12px; }   
}