<div class="main">
	<div class="container">
	  <h1 class="title">Contact</h1>
	  <h3>Helpful advice and resources always appreciated. If you're new to coding, feel free to shoot me any questions!</h3>
	  <div>
	    <img src='../../assets/images/linkedin.png'>
	    <p id='linkedIn'>
	      <a href="https://www.linkedin.com/in/angel-altamirano/" target="_blank">linked in
	      </a>
	    </p>
	  </div>
	  <div>
	    <img src='../../assets/images/email.png'>
	    <p><a href="mailto: angel.g.altam@gmail.com">angel.g.altam@gmail.com</a></p>
	  </div>
	</div>
</div>
