<div class="jumbotron">
	<div class="container">
		<h3 class="title">Angel Altamirano<span id="download-btn"><a href="Resume.pdf" download>DOWNLOAD</a></span></h3>
	  <address>
	      <a href="tel:470-258-3929" class="contactInfo">(470)258-3929</a><br>
	      <a href="mailto:angel.g.altam@gmail.com" class="contactInfo">angel.g.altam@gmail.com</a>
	  </address>
	  <a href="https://github.com/aaltamirano1" class="contactInfo" target="_blank">https://github.com/aaltamirano1</a>
  </div>
</div>

<div id="resume-main" class="container">
    <h4>EDUCATION</h4>
    <p>Bachelor of Business Administration: Accounting, May 2015<br>Minor in Economics<br>
    		<em>Georgia State University, J. Mack Robinson College of Business- Atlanta, GA</em></p>

    <p>Code Immersion Program, Oct 2017 - Dec 2017<br>
    	<em>Tech Talent South- Atlanta, GA </em></p>
    <br>

    <h5>Online Classes</h5>
    <ul>
    	<li><a href="https://www.udacity.com/" target="_blank">Udacity:</a></li>
    	<li>Front-End Web Developer Nanodegree, Sept 2017</li>          	
    </ul>
    <ul>
    	<li><a href="https://teamtreehouse.com/angelaltamirano">Treehouse:</a></li>
    	<li>Front-End Developer Track, Oct 2017</li>
    </ul>
    <hr>

    <h4>SKILLS</h4>
    <p>Javascript,  jQuery,  Angular 5, Ruby on Rails, SQL, Version Control (Git), Responsive Web Design</p>
    <hr>

    <h4>WORK EXPERIENCE</h4>
    <p>
    	<span>Player Services Representative</span><br><em>Scientific Games International (Mar 2016 - Present)</em><br>Assist players with website navigation and ticket entry on Lottery Rewards websites.<br>Resolve discrepancies in directory of player accounts and keep personal information confidential.
	    <br><br>
	    <span>Teaching Assistant</span><br><em>Tech Talent South (Jan 2018 - Mar 2018)</em><br>Assist code immersion bootcamp students with questions or coding errors in class.<br>Respond to student questions or homework issues on TTS Slack channel.
	  	<br><br>
	  	<span>Co-Manager</span><br><em>Angel's Catering (Jul 2005 - Dec 2017)</em><br>Weigh in on decisions (jobs to keep/drop, how to handle competition).<br>Count and report end of day earnings.<br>Negotiate terms with superintendents for sale at their construction sites.
  	</p>
</div>